

<div class="pr">
    <div class="">
        <div id="leftNavigation" class="leftNavigation">
            <div class="ulContainer">
                <ul class="leftNavigationUl">
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Home" class="leftNavigationA">
                            Dashboard                                
                        </a>                                         
                    </li>                                            
                    <li class="leftNavigationLi">                    
                        <a asp-action="Index" asp-controller="Users" class="leftNavigationA">
                            Konta użytkowników                       
                        </a>                                         
                    </li>                                            
                    <li class="leftNavigationLi">                    
                        <a asp-action="Index" asp-controller="Roles" class="leftNavigationA">
                            Role
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Clients" class="leftNavigationA">
                            Klienci
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Kupna" class="leftNavigationA">
                            Kupna
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Sprzedaze" class="leftNavigationA">
                            Sprzedaze
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Towary" class="leftNavigationA">
                            Towary
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="RodzajeTowarow" class="leftNavigationA">
                            Rodzaje towarów
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Marki" class="leftNavigationA">
                            Marki
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
 

